.accordion__list {
  @include reset-list;
  @include display-flex-wrap;
  flex-direction: column;
  width: 100%;
}

.accordion__item {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid $accent-main;

  &:not(:first-child) {
   border-top: none;
  }
}

.accordion__content {
  height: 0;
  overflow: hidden;
  transition: height 1s;

  &--active,
  .nojs & {
    height: min-content;
  }
}

.accordion__toggle {
   display: block;

  .accordion__svg--down {
    display: block;
  }
  .accordion__svg--up {
    display: none;
  }

  &--active {
    .accordion__svg--down {
     display: none;
    }

    .accordion__svg--up {
      display: block;
    }
  }
}
