.button {
  width: 100%;
  min-height: 68px;
  padding: 0;
  background-color: transparent;
  border: 1px solid $accent-main;

  @include poppins-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3em;

  &--accent {
    color: $basic-white;
    background-color: $accent-main;
  }

  &:hover,
  &:focus {
    outline: 3px solid $accent-main;
  }

  &:active {
    outline: none;
    box-shadow: 0 3px 3px $accent-bg inset;
  }
}
