.filters,
.filters form {
  @include display-flex-wrap;
  flex-direction: column;
  width: 100%;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.filters__list {
  @include reset-list;
  margin-bottom: 32px;
}

.filters__item {
  padding: 22px;
}

.filters legend {
  margin: 0;
  padding: 0;
}

.filters__open-button {
  display: none;
}

@media (max-width: $medium-width) {
  .filters__open-button {
    display: block;
  }

  .filters--large-view {
    display: none;
  }
}

.filters > form > button {
  width: 100%;
  min-height: 68px;
  background-color: transparent;
  border: 1px solid $accent-main;

  @include poppins-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3em;

  &[type="submit"] {
    color: $basic-white;
    background-color: $accent-main;
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}
