.footer {
  background-color: $basic-black;
  color: $basic-white;
}

.footer__wrapper {
  padding-top: 90px;
  padding-bottom: 95px;
  display: grid;
  grid-template-columns: 4fr 3fr max-content;
  gap: 7.5%;

  @media (max-width: 1340px) {
    gap: 4.5%;
  }

  @media (max-width: $medium-width) {
    @include display-flex-wrap;
    padding-top: 50px;
  }

  @media (max-width: $small-width) {
    padding-bottom: 34px;
  }
}
