.header {
  margin-bottom: 18px;

  @media (min-width: $large-width-only) {
    border-bottom: 1px solid $section-border;
  }
}

.header__wrapper {
  position: relative;
  display: grid;

  padding-bottom: 8px;
  box-sizing: border-box;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: min(106px);
  gap: 9px;
  align-items: center;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $medium-width) {
    margin: 0;
    padding-bottom: 0;
    grid-template-rows: min(126px);
    align-content: center;

    .page-header--close & {
      margin: 0;
    }

    .page-header--open & {
      margin: 0 0 46px;
    }
  }

  @media (max-width: $small-width) {
    grid-template-rows: min(92px);

    .page-header--open & {
      margin: 0 0 36px;
    }
  }
}
