.header {
  position: relative;

  @include display-flex-wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 96px;
  margin-bottom: 17px;

  @media (max-width: $medium-width) {
    margin-bottom: 0;
  }
}

.header__logo {
  margin: 30px auto 0;
}
