.logo {
  cursor: pointer;
}

.logo svg {
  fill: $accent-main;

  &:hover {
    fill: $accent-bg-opacity07;
  }

  &:active {
    fill: $accent-bg;
  }
}

@media (max-width: $medium-width) {
  .logo {
    &--nonav svg {
      fill: $accent-main;
    }

    &--nav svg {
      fill: $basic-white;
    }
  }

  .nojs .logo {
    svg {
      fill: $basic-white;
    }
  }
}
