.logo {
  cursor: pointer;
}

.logo svg {
  fill: $accent-main;

  &:hover {
    fill: $accent-bg-opacity07;
  }

  &:active {
    fill: $accent-bg;
  }
}

@media (max-width: $medium-width) {
  .logo svg {
    fill: $accent-main;

    .page-header--close & {
      fill: $accent-main;
    }
  }

  .logo svg {
    .page-header--open & {
      fill: $basic-white;
    }

    .nojs & {
      fill: $basic-white;
    }
  }
}
