.logo {
  cursor: pointer;

  .nojs & {
    @include display-flex-wrap;
    justify-content: center;
  }
}

.logo a {
  display: block;
  margin-top: 30px;
  width: fit-content;
  height: fit-content;
}

.logo svg {

  fill: $accent-main;

  &:hover,
  &:focus {
    fill: $accent-bg;
  }

  &:active {
    fill: $accent-bg-opacity07;
  }
}

@media (max-width: $medium-width) {
  .logo a {
    margin-top: 0;
  }

  .logo svg {
    display: block;
    fill: $accent-main;

    .page-header--close & {
      fill: $accent-main;
    }

    .page-header--open & {
      fill: $basic-white;
    }

    .nojs & {
      fill: $basic-white;
    }
  }
}

@media (max-width: $small-width) {
  .logo svg {
    width: 52px;
    height: 52px;
  }
}
