.nav-footer ul {
  @include reset-list;
  display: grid;
  grid-template-columns: auto 35.7%;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  gap: 30px 17.6%;
  overflow-x: auto;

  @media (max-width: 1340px) {
    gap: 30px 5%
  }
}

.nav-footer a {
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}
