.nav {
  margin-bottom: 18px;

  @media (min-width: $large-width-only) {
    .nav__list {
      &--main {
        @include reset-list;
        @include display-flex-wrap;
        justify-content: center;
      }

      &--about,
      &--user {
        display: none;
      }
    }
  }
}

.nav li {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.nav a {
  width: inherit;
  text-align: center;
  vertical-align: middle;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-bg;
    border-bottom: 1px solid $accent-bg;
  }

  &:active {
    color: $accent-bg-opacity07;
    border: none;
  }
}

@media (max-width: $medium-width) {
  .nav,
  .nav .page-header--close {
    display: none;
  }

   .nav .page-header--open {
    display: block;
    margin-bottom: 74px;
    width: 100%;
    height: fit-content;
  }

  .nav__list {
    @include reset-list;

    &--main {
      margin-bottom: 42px;
      font-size: 24px;
      line-height: 1.3em;

      @media (max-width: $small-width) {
        margin-bottom: 32px;
      }

      & li:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &--about,
    &--user {
      margin-bottom: 44px;
      font-size: 18px;
      line-height: 24px;
      color: $basic-white-opacity075;

      @media (max-width: $small-width) {
        margin-bottom: 34px;
      }

      & li:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }

  .nojs .nav {
    display: block;
    min-height: min-content;
    width: 100%;
    padding: 0 45px;
  }
}
