.novelty {
  @include display-flex-wrap;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}

.novelty h2 {
  @include section-title;
  text-transform: capitalize;
}

.novelty__link {
  @include page-link;
}
