.pagination {
  border-top: 1px solid $section-border;

  @media (max-width: $small-width) {
    border: none;
  }
}

.pagination__wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 4.2%;
}

.pagination__list {
  grid-column: 2/3;

  @include display-flex-wrap;
  justify-content: space-between;
  padding-top: 35px;
}
.pagination ul {

  @include reset-list;
  @include display-flex-wrap;
}

.pagination button {
  width: 70px;
  padding: 2px;
  vertical-align: middle;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3em;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:last-of-type {
    text-align: right;
  }

  &:hover,
  &:focus {
    color: $accent-bg;
  }

  &:active {
    color: $accent-bg-opacity07;
  }
}

.pagination__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
  padding: 2px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3em;
  color: $basic-content-light;

  &--current {
    color: $basic-content-dark;
  }
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-bg;
  }

  &:active {
    color: $accent-bg-opacity07;
  }
}
