.price {
  padding-top: 18px;

  @media (max-width: $medium-width) {
    padding: 24px 50px 10px 10px;
  }

  @media (max-width: $small-width) {
    margin: 0 -10px;
    padding: 24px 0 10px;
  }
}

.price__wrapper {
  position: relative;
  width: 100%;
  height: 35px;
}

.price__scale {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 8px;
  background-color: $popup-accent-bg;
}

.price__bar {
  position: absolute;
  width: 45%;
  height: 1px;
  top: 0;
  left: 29.5%;
  background-color: $accent-main;

  @media (max-width: $medium-width) {
    width: 60%;
    left: 18%;
  }
}

.price__toggle {
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: $accent-main;
  border-radius: 50%;

  @media (max-width: $medium-width) {
    width: 18px;
    height: 18px;
  }

  & span {
    position: absolute;
    top: 20px;
    left: -7px;
    font-size: 14px;
    line-height: 1.3em;

    @media (max-width: $medium-width) {
      top: 25px;
      font-size: 16px;
    }
  }

  &--min {
    left: 23%;

    @media (max-width: $medium-width) {
      left: 15%;
    }
  }

  &--max {
    left: 74.5%;

    @media (max-width: $medium-width) {
      left: 72.7%;
    }
  }
}
