.promo {
  width: 100%;

  &--main {
    min-height: 463px;
    background-image:
      linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
      url("../img/main/main-promo_large.jpg");

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
        url("../img/main/main-promo_large@2x.jpg");
    }
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .no-webp & {
      background-image:
        linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
        url("../img/main/main-promo_large.jpg");

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/main/main-promo_large@2x.jpg");
      }
    }

    .webp & {
      background-image:
        linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
        url("../img/main/main-promo_large.webp");

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/main/main-promo_large@2x.webp");
      }
    }

    @media (max-width: $medium-width) {
      background-image:
        linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
        url("../img/main/main-promo_medium.jpg");

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/main/main-promo_medium@2x.jpg");
      }

      .no-webp & {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/main/main-promo_medium.jpg");

        @media (min-resolution: 2dppx) {
          background-image:
            linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
            url("../img/main/main-promo_medium@2x.jpg");
        }
      }

      .webp & {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/main/main-promo_medium.webp");

        @media (min-resolution: 2dppx) {
          background-image:
            linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
            url("../img/main/main-promo_medium@2x.webp");
        }
      }
    }

    @media (max-width: $small-width) {
      background-image:
        linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
        url("../img/main/main-promo_small.jpg");

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/main/main-promo_small@2x.jpg");
      }

      .no-webp & {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/main/main-promo_small.jpg");

        @media (min-resolution: 2dppx) {
          background-image:
            linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
            url("../img/main/main-promo_small@2x.jpg");
        }
      }

      .webp & {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/main/main-promo_small.webp");

        @media (min-resolution: 2dppx) {
          background-image:
            linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
            url("../img/main/main-promo_small@2x.webp");
        }
      }
    }
  }

  &--catalog {
    min-height: 261px;
    background-image:
      linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
      url("../img/catalog/catalog-promo_large.jpg");

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
        url("../img/catalog/catalog-promo_large@2x.jpg");
    }
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .no-webp & {
      background-image:
        linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
        url("../img/catalog/catalog-promo_large.jpg");

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/catalog/catalog-promo_large@2x.jpg");
      }
    }

    .webp & {
      background-image:
        linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
        url("../img/catalog/catalog-promo_large.webp");

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/catalog/catalog-promo_large@2x.webp");
      }
    }

    @media (max-width: $medium-width) {
      background-image:
        linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
        url("../img/catalog/catalog-promo_medium.jpg");

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/catalog/catalog-promo_medium@2x.jpg");
      }

      .no-webp & {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/catalog/catalog-promo_medium.jpg");

        @media (min-resolution: 2dppx) {
          background-image:
            linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
            url("../img/catalog/catalog-promo_medium@2x.jpg");
        }
      }

      .webp & {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/catalog/catalog-promo_medium.webp");

        @media (min-resolution: 2dppx) {
          background-image:
            linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
            url("../img/catalog/catalog-promo_medium@2x.webp");
        }
      }
    }

    @media (max-width: $small-width) {
      background-image:
        linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
        url("../img/catalog/catalog-promo_small.jpg");

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/catalog/catalog-promo_small@2x.jpg");
      }

      .no-webp & {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/catalog/catalog-promo_small.jpg");

        @media (min-resolution: 2dppx) {
          background-image:
            linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
            url("../img/catalog/catalog-promo_small@2x.jpg");
        }
      }

      .webp & {
        background-image:
          linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
          url("../img/catalog/catalog-promo_small.webp");

        @media (min-resolution: 2dppx) {
          background-image:
            linear-gradient($accent-bg-opacity07, $accent-bg-opacity07),
            url("../img/catalog/catalog-promo_small@2x.webp");
        }
      }
    }
  }
}

.promo__content {
  min-height: inherit;

  @include display-flex-wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include cormorantgaramond-font;
  color: $basic-white;

  & h2 {
    margin: 0;
    font-weight: 700;

    .promo--main & {
      font-size: 45px;
      letter-spacing: 0.03em;

      @media (max-width: $small-width) {
        font-size: 38px;
      }
    }

    .promo--catalog & {
      font-size: 34px;
    }

    line-height: 1.3em;
    text-transform: uppercase;
  }

  & p {
    margin: 0;
    font-weight: 400;
    text-align: center;

    .promo--main & {
      font-size: 38px;
    }

    .promo--catalog & {
      font-size: 22px;
    }
    font-style: italic;
    line-height: 1.3em;
  }

  @media (max-width: $small-width) {
    & h2 {
      font-size: 38px;
    }
  }
}
