.search {
  @include display-flex-wrap;
  align-content: center;
  position: relative;
  padding: 0;
  line-height: 21px;
}

.search svg {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  width: 14px;
  height: 14px;
}

.search input {
  width: 100%;
  min-height: 14px;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba($basic-white, 0.15);
  border: 2px solid transparent;
  border-radius: 21px;
  outline: none;

  &:hover {
    border: 2px solid $accent-bg-opacity07;
    box-shadow: 0px 5px 10px 2px $accent-bg-opacity07;
  }

  &:focus {
    border: 2px solid $accent-bg;
  }

  &::placeholder {
    padding: 0 26px;

    @include poppins-font;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: $basic-content-light;
  }

}

@media (max-width: $medium-width) {
 .search {
    order: 1;
    width: 100%;
    margin: 35px 0 14px;
 }

 .search svg {
   width: 16px;
   height: 16px;
 }

 .search input {
   min-height: 40px;

  &::placeholder {
    color: transparent;
  }
 }
}
