.slick-list {
  overflow: hidden;
  padding: 2px;
}

.slick-track {
  display: flex;
}

.slick-arrow {
  position: absolute;
  display: block;
  height: 9px;
  width: 29px;
  padding: 0;
  top: -105px;
  border: none;
  border-radius: 10%;
  background-color: transparent;
  color: transparent;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;

  @media (max-width: $medium-width) {
    width: 36px;
    height: 15px;
    top: -98px;
  }

  &.slick-prev {
    left: 1.7%;
    background-image: url("../img/icons/icon_arrow-slider-previous.svg");
    background-position: left;
  }

  &.slick-next {
    right: 0.6%;
    background-image: url("../img/icons/icon_arrow-slider-next.svg");
    background-position: right;
  }

  &:hover,
  &:focus {
    outline: 1px solid $accent-main;
    outline-offset: 3px;
  }

  &:active {
    outline: 2px solid $accent-bg-light;
  }
}

.slick-arrow.slick-disabled {
  background-image: none;
}

.slick-dots {
  @include reset-list;
  @include display-flex-wrap;
  counter-reset: numli;
}

.slick-dots li {
  @include display-flex-wrap;
  justify-content: flex-end;
  min-width: 20px;

  @media (max-width: $medium-width) {
    min-width: 22px;
  }

  @media (max-width: $small-width) {
    position: relative;
    min-width: 0;
    margin: 0;
    padding: 0;
    counter-increment: numli;

    &:last-child::after {
      position: absolute;
      content: "of "counter(numli);
      display: block;
      width: max-content;
      right: 0;
      top: -2px;
    }
  }
}

.slick-dots button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.3em;
  color: $basic-content-light;

  &:hover,
  &:focus {
    color: $basic-content-dark;
  }

  &:active {
    border-bottom: 1px solid $basic-content-light;
  }

  @media (max-width: $small-width) {
    display: none;
  }
}

.slick-active button {
  color: $basic-content-dark;

  @media (max-width: $small-width) {
    display: block;
    padding-right: 42px;
    font-size: 16px;
    line-height: 1.3em;
  }
}
