.social ul {
  @include reset-list;

  @media (max-width: $medium-width) {
    @include display-flex-wrap;
  }
}

.social li {
  &:not(:last-child) {
    margin-bottom: 16px;

    @media (max-width: $medium-width) {
      margin-bottom: 22px;
    }
  }
}

.social a {
  display: block;

  @include display-flex-wrap;
  align-items: center;
  line-height: 1.3em;
  color: inherit;
  text-decoration: none;
}

.social svg {
  width: 15px;
  margin-right: 15px;
}

.social span {
  vertical-align: bottom;
  padding-top: 6px;

  @media (max-width: $medium-width) {
    padding-top: 0;
  }

  @media (max-width: $small-width) {
    display: none;
  }
}
