.user {
  @include display-flex-wrap;
  justify-content: flex-end;
  align-content: center;
}

.user ul {
  @include reset-list;
  @include display-flex-wrap;
}

.user li {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.user a {
  color: inherit;
  text-decoration: none;
}

.user svg{
  display: none;
}

@media (max-width: $medium-width) {
  .user {
    position: absolute;
    right: 45px;
    top: 54px;
    span {
      display: none;
    }

    & svg {
      display: block;
      &:hover {
        fill: $accent-bg-opacity07;
        stroke: $accent-bg-opacity07;
      }

      &:active {
        fill: $accent-bg-opacity07;
        stroke: $accent-bg;
      }

    }
  }
}
