.user ul {
  @include reset-list;
  @include display-flex-wrap;
}

.user li {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.user a {
  color: inherit;
  text-decoration: none;
}

.user__icon-login {
  display: none;
}

@media (max-width: $medium-width) {
  .user {
    ul {
      display: none;
    }

    &__icon-login {
      position: absolute;
      right: 45px;
      display: block;
    }
  }
}
