//colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-black-opacity01: rgba(0, 0, 0, 0.1);
$basic-white-opacity075: rgba(255, 255, 255, 0.75);

$basic-content-dark: #1d1613;
$basic-content-light: #9b9997;
$accent-main: #a87b62;
$accent-bg: #563634;
$accent-bg-light: #f0eae4;
$accent-bg-opacity07: rgba(86, 64, 52, 0.7);
$section-border: #f6f5f4;
$popup-shadow: #f8f7f5;
$popup-accent-bg: #f0eae4;

//viewport width
$small-width: 767px;
$medium-width: 1023px;
$large-width-only: 1024px;
