//colors
$basic-black: #000000;
$basic-white: #ffffff;

$basic-content-dark: #1D1613;
$basic-content-light: #9B9997;
$accent-main: #A87B62;
$accent-bg: #563634;
$accent-bg-opacity07: rgba(86, 64, 52, 0.7);

//viewport width
$small-width: 767px;
$medium-width: 1023px;
$large-width-only: 1024px;
